/* HERO */
.hero{
  height:100vh;
  background:url("https://images.unsplash.com/photo-1464226184884-fa280b87c399")center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  position:relative;
}
.hero-overlay{
  position:absolute;
  width:100%;
  height:100%;
  background:linear-gradient(to right,rgba(0,0,0,.8),rgba(0,0,0,.4));
}
.hero-content{
  position:relative;
  z-index:1;
  max-width:700px;
}
.hero h1{font-size:48px}
.hero-buttons{margin-top:25px}

/* STATS */
.stats{background:#111}
.stats-wrapper{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  text-align:center;
}
.counter{
  font-size:40px;
  color:#00ff88;
}

@media(max-width:768px){
  .hero h1{font-size:28px}
}