.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.card{
  background:rgba(255,255,255,.08);
  padding:25px;
  border-radius:15px;
  text-align:center;
  transition:.3s;
}

.card:hover{transform:translateY(-10px)}

.card i{
  font-size:30px;
  margin-bottom:15px;
  color:#00ff88;
}